LOG_FILE_PATH = "./logs/app.log"
LOKI_URL =https://logs-prod-020.grafana.net
LOKI_USERNAME =1383283
LOKI_PASSWORD=
DB_URL=libsql://virtual-hedge-fund-virtualhedgefund.aws-ap-south-1.turso.io
DB_TOKEN=