__pycache__/

.vscode/
.DS_Store

logs/
.env

frontend/portfolio-management/node_modules/
frontend/portfolio-management/.next/
frontend/portfolio-management/next-env.d.ts


# Ignore local database files
vhf.db*